body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* disable scrolling down */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

#meme_preview {
  position: relative;
  margin-top: 1vh;
  display: none;
}

#meme_default {
  position: absolute;
  top: 0px;
  width: 150px;
  height: 150px;
}

.container {
  display: flex;
  width: 250px;
  justify-content: space-around;
  position: absolute;
  top: 170px;
}

label {
  width: 50px;
  text-align: center;
  font-size: large;
  border-radius: 3px;
}

label:hover {
  cursor: pointer;
}

input {
  display: none;
}

#canvas2 {
  transform: scale(0.6); /* 300/500 = 0.6 */
  transform-origin: top center;
  position: absolute;
  top: 210px;
  z-index: 1;
}

#og_output {
  position: absolute;
  top: 210px;
  width: 300px;
  height: 300px;
}

#canvas1 {
  transform: scale(0.3);
  transform-origin: top center;
  margin-top: 1vh;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  position: absolute;
  top: 510px;
  color: black;
  font-size: small;
  font-family: arial;
  font-style: italic;
}